wheel
pytorch-metric-learning>=2.0.0
efficientnet_pytorch>=0.7.0
pretrainedmodels>=0.7.4
numpy>=1.25
pandas>=1.5
scipy>=1.10
matplotlib>=3.8
seaborn
pyyaml>=6.0
timm>=0.9
imageio>=2.9.0
imageio-ffmpeg>=0.4.5
yacs>=0.1.8
opencv-python>=4.7
requests>=2.25.1
Pillow>=9.5
motmetrics>=1.2.5
lap
cython
cython_bbox
